@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Base styles */
*{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.intro{
  font-size: 20px;
  text-align: center ;
  padding : 10px;
  font-weight: 900;
  color: #333;;
  margin: auto;
}

.navbar{
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: #333;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: #333;
}

.navbar .menu{
  display: none;
  position: absolute;
  top: 2rem;
  right: 1.2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
}

.navbar .menu span{
  height: 0.25rem;
  width: 100%;
  background-color: #ccc;
  border-radius: 0.2rem;
  cursor: pointer;
}

.content{
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
}

/* blog previews / list */
.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2{
  font-size: 20px;
  color: #333;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.no_blog{
  text-align: center;
  font-size: 16px;
  margin-bottom: 60px;
}

.no_blog p{
  margin: 10px auto;
  padding: 5px;
  font-style: italic;
}

.no_blog a{
  text-decoration: none;
  color: #ddd;
}

.no_blog button{
  background: #331d22;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* blog details page */
.blog-details h2{
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.blog-details div{
  margin: 20px 0;
}

.blog-details button{
  background: #333;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
} 

/* create new blog */
.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
}

.create textarea{
  max-height: 400px;
  height: 300px;
}

.create button{
  background: #333;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*not-found section of the page*/

.not-found{
  text-align: center;
}

.not-found h2{
  margin-bottom: 30px;
  font-size: 30px;
}

.not-found p{
  margin-bottom: 20px;
}

.not-found a{
  font-weight: bold;
}

/*footer*/

footer{
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  color: #d6d4d4;
  text-align: center;
}

/*media query*/

@media (max-width: 480px) {
  .navbar{
    flex-direction: column;
    align-items: start;
  }

  .navbar h1{
    font-size: 20px;
  }

  .navbar .menu{
    display: flex;
    z-index: 5;
  }

  .navbar .links.open Link {
    color: #ccc;
  }

  .navbar .links {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bolder;
    max-width: 600px;
    width: 100%;
    margin-bottom: 0.25rem;
    text-align: center;
    margin: 0px auto;
    z-index: 0;
  }

  .links.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .navbar .links:not(.open){
    display: none;
  }

  .navbar .links.open {
    display: flex;
    color: #fff;
  }
}